@page "/Config"
@using System.ComponentModel.DataAnnotations
@using System.Net
@using System.Threading
@using AndroidDataRecorder.Backend
@using AndroidDataRecorder.Misc
@using SharpAdbClient
@using AdbServer = AndroidDataRecorder.Backend.AdbServer

@inject IToastService toastService;

<header>
    <h1 class="text-center" style="color: white">Configuration</h1>
</header>

<br>

<section id="device_information">
    <div class="row">
        <div class="col-md">
            <div class="card text-center side-cards">
                <div class="card-header" style="color: white">
                    Attached Devices
                </div>
                <div class="card-body">
                    <div class="table-wrapper-scroll-y my-custom-scrollbar table-hover">
                        <table class="table table-bordered mb-0 text-left">
                            <tbody>
                            @foreach (var item in _tempDeviceList)
                            {
                                <tr>
                                    <td>
                                        <input type="radio" name="technology" id="@item" value="@item" @onchange="RadioSelection" checked=@(_markerList.GetDeviceName().Equals(item.Name))/>
                                        <label for="@item">@item.Name</label>
                                        <!--<button class="btn btn-danger float-right">Remove</button>-->
                                    </td>
                                </tr>
                            }
                            </tbody>
                        </table>
                        <label>Selected device is @_markerList.GetDeviceName()</label>
                    </div>
                </div>
                <div class="card-footer">
                </div>
            </div>

            <br>

            <div class="row">
                <div class="col-md">
                    <div class="card justify-content-center side-cards">
                        <div class="card-header text-center" style="background: darkred; color: white">
                            DANGER ZONE
                        </div>
                        <div class="card-body">
                            <button type="submit" class="btn btn-danger btn-block danger-buttons" @onclick="RestartADB">Restart ADB server</button>
                            <button type="submit" class="btn btn-danger btn-block danger-buttons" @onclick="KillADB">Kill ADB server</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-md-6">
            <div class="card text-center card-text h-100">
                <div class="card-header" style="color: white">
                    Add Device
                </div>
                <div class="card-body text-left side-cards">
                    <div class="row">
                        <div class="col-md-4">
                            <p>IP-Address: </p>
                        </div>
                        <div class="col-md-8">
                            <input type="email" class="form-control" id="IP-Address" aria-describedby="IP-Address" placeholder="134.913.491.349" @bind="ipAddress">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <p>Port: </p>
                        </div>
                        <div class="col-md-8">
                            <input type="email" class="form-control" id="Port" aria-describedby="Port" placeholder="5555" @bind="portAddress">
                        </div>
                    </div>
                    <br>
                    <div class="row justify-content-center">
                        <button type="submit" class="btn btn-success" @onclick="AddButtonPressed">Add Device</button>
                    </div>

                    <br>

                    <h4 class="text-center">Known Devices</h4>
                    <div class="table-wrapper-scroll-y known-devices-table table-hover" style="overflow-x: hidden">
                        <table class="table table-bordered mb-0 text-left">
                            <tbody>
                            @foreach (var item in Config.GetKnownDevices())
                            {
                                <tr>
                                    <td>
                                        <div class="row">
                                            <div class="col-6">
                                                <p>
                                                    @item
                                                </p>
                                            </div>
                                            <div class="col-6 text-right">
                                                <button class="btn btn-success" @onclick="() => AttachDevice(item)">Attach</button> <button class="btn btn-danger">Remove</button>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            }

                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card-footer text-right">
                    Version 1.0.@_adbVersion
                </div>
            </div>
        </div>
    </div>
</section>

<br>


@code {
    
    /*
     * List of attached devices
     */
    static List<SharpAdbClient.DeviceData> _tempDeviceList;

    /*
     * Markerlist
     */
    MarkerList _markerList = new MarkerList();

    /*
     * ADB version used
     */
    private int _adbVersion;

    /*
     * Set device list
     */
    protected override void OnInitialized()
    {
        base.OnInitialized();
        _tempDeviceList = AdbServer.GetConnectedDevices();
        _adbVersion = AdbServer.GetAdbVersion();
    }

    /*
     * Change selected device
     */

    void RadioSelection(ChangeEventArgs args)
    {
        // Find device by name (args only return string)
        _markerList.SetDevice(_tempDeviceList.Find(x => x.ToString().Equals(args.Value)));
    }

    /*
     * Binded values
     */
    private string ipAddress;
    private string deviceName;
    private string portAddress;

    private bool successAdd = true;

    /*
     * Add device to known devices
     */

    void AddButtonPressed()
    {
        IPAddress address;

        // Check for 3 dots and valid range
        try
        {
            if (ipAddress.Count(c => c == '.') == 3 && IPAddress.TryParse(ipAddress, out address))
            {
                toastService.ShowSuccess("Device " + deviceName + " with IP-Address: " + address + " at port: " + portAddress + " successfully added!", "Success");
                Config.AddKnownDevice(address.ToString());
                AdbServer.ConnectWirelessCLient(address.ToString());
            }
        }
        catch (Exception ex)
        {
            toastService.ShowError("That is not an IP-Address!", "Error");
            toastService.ShowError("Could not add device!", "Error");
        }
    }
    
    /*
     * Restart ADB server
     */
    private void RestartADB()
    {
        AdbServer.RestartAdbServer();
    }
    
    /*
     * Kill ADB Server
     */
    private void KillADB()
    {
        AdbServer.KillAdbServer();
    }

    /*
     * Attach device
     */
    private void AttachDevice(string address)
    {
        AdbServer.ConnectWirelessCLient(address);
    }

    /*
     * Refresh device list on new connect
     */
    public static void ConnectedDeviceChanged(object sender, DeviceDataEventArgs e)
    {
        _tempDeviceList = AdbServer.GetConnectedDevices();
        Console.WriteLine("Connected Wireless");
    }



}