@page "/Config"
@using System.Net
@using AndroidDataRecorder.Backend
@using AndroidDataRecorder.Misc
@using SharpAdbClient
@using AdbServer = AndroidDataRecorder.Backend.AdbServer

@inject IToastService ToastService;

<header>
    <h1 class="text-center" style="color: white">Configuration</h1>
</header>

<br>

<section id="device_information">
    <div class="row">
        <div class="col-md">
            <div class="card text-center side-cards">
                <div class="card-header" style="color: white">
                    Attached Devices
                </div>
                <div class="card-body">
                    <div class="table-wrapper-scroll-y my-custom-scrollbar table-hover">
                        <table class="table table-bordered mb-0 text-left">
                            <tbody>
                            @foreach (var item in _attachedDeviceList)
                            {
                                <tr>
                                    <td>
                                        <input style="vertical-align: middle" type="radio" name="technology" id="@item" value="@item" @onchange="RadioSelection" checked=@MarkerList.GetDeviceName().Equals(item.Name)/>
                                        <label for="@item">@item.Name - Connection: @DeviceStates.ConnectionType(item)</label>
                                        <button class="btn btn-danger float-right" @onclick="() => DisconnectDevice(item)">Disconnect</button>
                                    </td>
                                </tr>
                            }
                            </tbody>
                        </table>
                        <label>Selected device is @MarkerList.GetDeviceName()</label>
                    </div>
                </div>
                <div class="card-footer">
                </div>
            </div>

            <br>

            <div class="row">
                <div class="col-md">
                    <div class="card justify-content-center side-cards">
                        <div class="card-header text-center" style="background: darkred; color: white">
                            DANGER ZONE
                        </div>
                        <div class="card-body">
                            <button type="submit" class="btn btn-danger btn-block danger-buttons" @onclick="RestartAdb">Restart ADB server</button>
                            <button type="submit" class="btn btn-danger btn-block danger-buttons" @onclick="KillAdb">Kill ADB server</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-md-6">
            <div class="card text-center card-text h-100">
                <div class="card-header" style="color: white">
                    Add Device
                </div>
                <div class="card-body text-left side-cards">
                    <div class="row">
                        <div class="col-md-4">
                            <p>IP-Address: </p>
                        </div>
                        <div class="col-md-8">
                            <input type="email" class="form-control" id="IP-Address" aria-describedby="IP-Address" placeholder="134.913.491.349" @bind="ipAddress">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <p>Port: </p>
                        </div>
                        <div class="col-md-8">
                            <input type="email" class="form-control" id="Port" aria-describedby="Port" placeholder="5555" @bind="portAddress">
                        </div>
                    </div>
                    <br>
                    <div class="row justify-content-center">
                        <button type="submit" class="btn btn-success" @onclick="AddButtonPressed">Add Device</button>
                    </div>

                    <br>

                    <h4 class="text-center">Known Devices</h4>
                    <div class="table-wrapper-scroll-y known-devices-table table-hover" style="overflow-x: hidden">
                        <table class="table table-bordered mb-0 text-left">
                            <tbody>
                            @foreach (var item in Config.GetKnownDevices())
                            {
                                <tr>
                                    <td>
                                        <div class="row">
                                            <div class="col-6">
                                                <p>
                                                    @item
                                                </p>
                                            </div>
                                            <div class="col-6 text-right">
                                                <button class="btn btn-success" @onclick="() => AttachDevice(item)">Attach</button> <button class="btn btn-danger" @onclick="() => RemoveDevice(item)">Remove</button>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            }

                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card-footer text-right">
                    Version 1.0.@_adbVersion
                </div>
            </div>
        </div>
    </div>
</section>

<br>


@code {
    
    /*
     * List of attached devices
     */
    static List<DeviceData> _attachedDeviceList;

    /*
     * Marker list
     */
    readonly MarkerList _markerList = new MarkerList();

    /*
     * ADB version used
     */
    private int _adbVersion;

    /*
     * Monitor to detect changes on connected devices
     */
    DeviceMonitor _monitor;
    
    /*
     * Set device list
     */
    protected override void OnInitialized()
    {
        base.OnInitialized();
        _attachedDeviceList = AdbServer.GetConnectedDevices();
        _adbVersion = AdbServer.GetAdbVersion();
        
        _monitor = new DeviceMonitor(new AdbSocket(new IPEndPoint(IPAddress.Loopback, AdbClient.AdbServerPort)));
        _monitor.DeviceChanged += DeviceChanged;
        _monitor.DeviceDisconnected += DeviceChanged;
        _monitor.DeviceConnected += DeviceChanged;
        _monitor.Start();
    }
    
    /*
     * Change selected device
     */
    void RadioSelection(ChangeEventArgs args)
    {
        // Find device by name (args only return string)
        _markerList.SetDevice(_attachedDeviceList.Find(x => x.ToString().Equals(args.Value)));
    }

    /*
     * Binded values
     */
    private string ipAddress;
    private string portAddress;

    /*
     * Add device to known devices
     */
    void AddButtonPressed()
    {
        
        try
        {
            // Check for 3 dots and valid range
            if (ipAddress.Count(c => c == '.') == 3 && IPAddress.TryParse(ipAddress, out var address))
            {
                ToastService.ShowSuccess("Device with IP-Address: " + address + " at port: " + portAddress + " successfully added!", "Success");
                
                // Add device to config file
                Config.AddKnownDevice(address.ToString());
                
                // Attach device to ADB
                AdbServer.ConnectWirelessClient(address.ToString());
            }
        }
        catch (Exception)
        {
            ToastService.ShowError("That is not an IP-Address!", "Error");
            ToastService.ShowError("Could not add device!", "Error");
        }
    }
    
    /*
     * Restart ADB server
     */
    private static void RestartAdb()
    {
        AdbServer.RestartAdbServer();
    }
    
    /*
     * Kill ADB Server
     */
    private static void KillAdb()
    {
        AdbServer.KillAdbServer();
    }

    /*jx15
     * Attach device
     */
    private void AttachDevice(string address)
    {
        AdbServer.ConnectWirelessClient(address);
    }

    /*
     * Disconnect only wireless devices -> remove them from attached devices
     * USB devices cannot be disconnected
     */
    private void DisconnectDevice(DeviceData device)
    {
        if (DeviceStates.ConnectionType(device) is DeviceStates.ConnectionTypes.Wifi)
        {
            var split = device.ToString().Split(':');
            AdbServer.DisconnectWirelessClient(split[0]);
            _attachedDeviceList = AdbServer.GetConnectedDevices();
        }
        else
        {
            ToastService.ShowError("Only Wifi devices can be disconnected", "Error");
        }
    }

    /*
     * Delete known device from list
     */
    private static void RemoveDevice(string address)
    {
        Config.DeleteKnownDevice(address);
    }

    /*
     * Refresh device list on device changes
     */
    private void DeviceChanged(object sender, DeviceDataEventArgs e)
    {
        _attachedDeviceList = AdbServer.GetConnectedDevices();
        InvokeAsync(StateHasChanged);
    }
    

}