@page "/Dashboard"
@using System.Threading;
@using AndroidDataRecorder.Backend
@using AndroidDataRecorder.Misc

@inject IToastService toastService;
@page "/"


<header>
    <h1 class="text-center" style="color: white">Dashboard</h1>
</header>

<br>

<main class="justify-content-center">
    <section id="device_information">
        <div class="row">
            <div class="col-md">
                <div class="card text-center side-cards">
                    <div class="card-header" style="color: white">
                        Overview
                    </div>
                    <div class="card-body text-left">
                        <div class="row">
                            <div class="col-md">
                                <p class="card-text">Current Device: </p>
                                <p class="card-text">Connection: </p>
                                <p class="card-text">IP-Address: </p>
                            </div>
                            <div class="col-md text-left">
                                <p class="card-text">@_markerList.GetDeviceName() </p>
                                <p class="card-text">USB/Ethernet</p>
                                <p class="card-text">123.123.432.45</p>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer text-muted">
                        <p style="color: #1e7e34">Connected</p>
                    </div>
                </div>
            </div>
            <div class="col-md">
                <div class="card text-center side-cards">
                    <div class="card-header" style="color: white">
                        Functions
                    </div>
                    <div class="card-body text-left">
                        <div class="row">
                            <div class="col-md">
                                <p>
                                    <btn class="btn @LogBtnColor " @onclick="LoggingBtnClick"> @LogBtnValue</btn>
                                </p>
                            </div>
                            <div class="col-md text-left">
                                <div style="visibility: @ProcessTextValue">
                                    <div class="spinner-border text-danger" role="status"></div>
                                    <span> Logging in Progress...</span>
                                </div>
                            </div>
                        </div>
                        <div class="row col">
                            <textarea id="marker_message" type="text" class="form-control" name="marker_message" placeholder="Marker Message..." rows="2" @bind="_markerSetMessage"></textarea>
                        </div>
                        <div class="row col">
                            <p class="card-text">@CurrDateTime</p>
                        </div>
                        <div class="row col justify-content-center">
                            <p>
                                <button class="btn btn-success" @onclick="GetMarkerTime">Set Marker</button>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <br>

    <section id="log_table">
        <div class="card text-center">
            <div class="card-header" style="color: white">
                System Status
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-3 text-left">
                        <p style="font-size: x-large">CPU: </p>
                        <p style="font-size: x-large">Memory: </p>
                        <p style="font-size: x-large">Battery: </p>
                    </div>
                    <div class="col-md-7">
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" role="progressbar" style="width:@cpuPercentage" aria-valuenow="12" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <br>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: @memoryUsage" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <br>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: @batterylevel" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <p style="font-size: x-large">@cpuPercentage</p>
                        <p style="font-size: x-large">@memoryUsage</p>
                        <p style="font-size: x-large">@batterylevel</p>
                    </div>
                </div>
            </div>
            <div class="card-footer text-muted">
                <p style="color: #1e7e34">Systems Stats: Check</p>
            </div>
        </div>
    </section>

    <br>

    <section id="testsection">
        <div class="card">
            <div class="card-header">
                <h3 class="text-center">Marker</h3>
            </div>
            <div class="card-body">
                <div style="height: 250px" class="table-wrapper-scroll-y scroll-bar">
                    <table class="table table-bordered table-striped">
                        <tr>
                            <th>Time</th>
                            <th>Message</th>
                        </tr>

                        @foreach (var marker in Enumerable.Reverse(MarkerList.Markers))
                        {
                            <tr>
                                <td style="width: 30%">@marker.timeStamp</td>
                                <td>@marker.message</td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
        </div>
    </section>

</main>


@code {

    /*
     * Timer
     */
    private Timer _timer;

    /*
     * Current time and date
     */
    private DateTime CurrDateTime { get; set; }

    /*
     * Database 
     */
    AndroidDataRecorder.Database.Database data = new AndroidDataRecorder.Database.Database();
    
    /*
     * Text in marker text box
     */
    private string _markerSetMessage;

    /*
     * List of marker
     */
    private MarkerList _markerList = new MarkerList();
    
    /*
     * System stats (temporarily) 
     */
    string cpuPercentage = "98%";
    string memoryUsage = "54%";
    string batterylevel = "86%";

    /*
     * Set callback for timer and fill marker list on page load
     */
    protected override void OnInitialized()
    {
        base.OnInitialized();
        _timer = new Timer(DateTimeCallback, null, TimeSpan.FromSeconds(1), TimeSpan.FromSeconds(1));
    }

    /*
     * Set CurrDateTime to current time
     */
    private async void DateTimeCallback(object state)
    {
        CurrDateTime = DateTime.Now;
        await InvokeAsync((StateHasChanged));
    }
    
    /*
     * Gets the time the marker was set and saves it in a list
     */
    private void GetMarkerTime()
    {
        if (!string.IsNullOrWhiteSpace(_markerSetMessage))
        {
            data.InsertValuesInTableMarker(_markerList.GetDeviceName(), CurrDateTime, _markerSetMessage);
            toastService.ShowSuccess("Message: " + _markerSetMessage, CurrDateTime.ToString());
            _markerSetMessage = string.Empty;
            _markerList.Update();
        }
        else
        {
            toastService.ShowError("Please put in a message", "Error");
        }
    }


    /*
     * Logging button
     */
    private bool _toggleLoggingBtn;
    
    /*
     * Adjusting CSS for logging
     */
    private string LogBtnValue => _toggleLoggingBtn ? "Stop Logging" : "Start Logging";
    private string ProcessTextValue => _toggleLoggingBtn ? "visible" : "hidden";
    private string LogBtnColor => _toggleLoggingBtn ? "btn-danger" : "btn-success";

    /*
     * Toggle logging bool
     */
    void LoggingBtnClick()
    {
        _toggleLoggingBtn = !_toggleLoggingBtn;
    }
}