@page "/logger"

<header>
    <h1 class="text-center" style="color: white">Logger</h1>
    <br>
</header>

    <section id="application">
        <div class="card side-cards">
            <div class="card-header text-center" style="color: white">
                Overview
            </div>
            <div class="card-body">
                @{ var list = new List<string>{ "App 1", "App 2","App 3","App 4","App 5","App 6","App 7", }; }
                <Dropdown TItem="string" OnSelected="@OnSelected" >
                    <InitialTip>Choose Application</InitialTip>
                    <ChildContent>
                        <DropdownListItem Item="@list[0]">App 1</DropdownListItem>
                        <DropdownListItem Item="@list[1]">App 2</DropdownListItem>
                        <DropdownListItem Item="@list[2]">App 3</DropdownListItem>
                        <DropdownListItem Item="@list[3]">App 4</DropdownListItem>
                        <DropdownListItem Item="@list[4]">App 5</DropdownListItem>
                        <DropdownListItem Item="@list[5]">App 6</DropdownListItem>
                        <DropdownListItem Item="@list[6]">App 7</DropdownListItem>
                    </ChildContent>
                </Dropdown>
            </div>
        </div>
    </section>

    <br>

    <section id="Logger_table">
              <div class="card text-center">
                  <div class="card-header" style="color: white">
                      Log Table
                  </div>
                  
                  <div class="card-body">
                      <div class="table-wrapper-scroll-y my-custom-scrollbar">
                          <table class="table table-bordered table-striped mb-0">
                          <thead>
                            <tr>
                              <th scope="col">Date</th>
                              <th scope="col">Time</th>
                              <th scope="col">Host</th>
                              <th scope="col">Error Type</th>
                              <th scope="col">App</th>
                              <th scope="col">Message</th>
                              
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <th scope="row">2021-03-29</th>
                              <td>13:49:00</td>
                              <td>AndroIder</td>
                              <td>F</td>
                              <td>_appname</td>
                              <td>failed because of reasons</td>
                            </tr>
                          <tr>
                              <th scope="row">2021-03-29</th>
                              <td>13:49:00</td>
                              <td>AndroIder</td>
                              <td>F</td>
                              <td>_appname</td>
                              <td>failed because of reasons</td>
                          </tr>
                          <tr>
                              <th scope="row">2021-03-29</th>
                              <td>13:49:00</td>
                              <td>AndroIder</td>
                              <td>F</td>
                              <td>_appname</td>
                              <td>failed because of reasons</td>
                          </tr>
                          <tr>
                              <th scope="row">2021-03-29</th>
                              <td>13:49:00</td>
                              <td>AndroIder</td>
                              <td>F</td>
                              <td>_appname</td>
                              <td>failed because of reasons</td>
                          </tr>
                          <tr>
                              <th scope="row">2021-03-29</th>
                              <td>13:49:00</td>
                              <td>AndroIder</td>
                              <td>F</td>
                              <td>_appname</td>
                              <td>failed because of reasons</td>
                          </tr>
                          <tr>
                              <th scope="row">2021-03-29</th>
                              <td>13:49:00</td>
                              <td>AndroIder</td>
                              <td>F</td>
                              <td>_appname</td>
                              <td>failed because of reasons</td>
                          </tr>
                          <tr>
                              <th scope="row">2021-03-29</th>
                              <td>13:49:00</td>
                              <td>AndroIder</td>
                              <td>F</td>
                              <td>_appname</td>
                              <td>failed because of reasons</td>
                          </tr>
                          <tr>
                              <th scope="row">2021-03-29</th>
                              <td>13:49:00</td>
                              <td>AndroIder</td>
                              <td>F</td>
                              <td>_appname</td>
                              <td>failed because of reasons</td>
                          </tr>
                          <tr>
                              <th scope="row">2021-03-29</th>
                              <td>13:49:00</td>
                              <td>AndroIder</td>
                              <td>F</td>
                              <td>_appname</td>
                              <td>failed because of reasons</td>
                          </tr>
                          <tr>
                              <th scope="row">2021-03-29</th>
                              <td>13:49:00</td>
                              <td>AndroIder</td>
                              <td>F</td>
                              <td>_appname</td>
                              <td>failed because of reasons</td>
                          </tr>
                          <tr>
                              <th scope="row">2021-03-29</th>
                              <td>13:49:00</td>
                              <td>AndroIder</td>
                              <td>F</td>
                              <td>_appname</td>
                              <td>failed because of reasons</td>
                          </tr>
                          <tr>
                              <th scope="row">2021-03-29</th>
                              <td>13:49:00</td>
                              <td>AndroIder</td>
                              <td>F</td>
                              <td>_appname</td>
                              <td>failed because of reasons</td>
                          </tr>
                          <tr>
                              <th scope="row">2021-03-29</th>
                              <td>13:49:00</td>
                              <td>AndroIder</td>
                              <td>F</td>
                              <td>_appname</td>
                              <td>failed because of reasons</td>
                          </tr>
                          <tr>
                              <th scope="row">2021-03-29</th>
                              <td>13:49:00</td>
                              <td>AndroIder</td>
                              <td>F</td>
                              <td>_appname</td>
                              <td>failed because of reasons</td>
                          </tr>
                          <tr>
                              <th scope="row">2021-03-29</th>
                              <td>13:49:00</td>
                              <td>AndroIder</td>
                              <td>F</td>
                              <td>_appname</td>
                              <td>failed because of reasons</td>
                          </tr>
                          <tr>
                              <th scope="row">2021-03-29</th>
                              <td>13:49:00</td>
                              <td>AndroIder</td>
                              <td>F</td>
                              <td>_appname</td>
                              <td>failed because of reasons</td>
                          </tr>
                          <tr>
                              <th scope="row">2021-03-29</th>
                              <td>13:49:00</td>
                              <td>AndroIder</td>
                              <td>F</td>
                              <td>_appname</td>
                              <td>failed because of reasons</td>
                          </tr>
                          <tr>
                              <th scope="row">2021-03-29</th>
                              <td>13:49:00</td>
                              <td>AndroIder</td>
                              <td>F</td>
                              <td>_appname</td>
                              <td>failed because of reasons</td>
                          </tr>
                          <tr>
                              <th scope="row">2021-03-29</th>
                              <td>13:49:00</td>
                              <td>AndroIder</td>
                              <td>F</td>
                              <td>_appname</td>
                              <td>failed because of reasons</td>
                          </tr>
                          <tr>
                              <th scope="row">2021-03-29</th>
                              <td>13:49:00</td>
                              <td>AndroIder</td>
                              <td>F</td>
                              <td>_appname</td>
                              <td>failed because of reasons</td>
                          </tr>
                          <tr>
                              <th scope="row">2021-03-29</th>
                              <td>13:49:00</td>
                              <td>AndroIder</td>
                              <td>F</td>
                              <td>_appname</td>
                              <td>failed because of reasons</td>
                          </tr>
                          <tr>
                              <th scope="row">2021-03-29</th>
                              <td>13:49:00</td>
                              <td>AndroIder</td>
                              <td>F</td>
                              <td>_appname</td>
                              <td>failed because of reasons</td>
                          </tr>
                          <tr>
                              <th scope="row">2021-03-29</th>
                              <td>13:49:00</td>
                              <td>AndroIder</td>
                              <td>F</td>
                              <td>_appname</td>
                              <td>failed because of reasons</td>
                          </tr>
                          </tbody>
                        </table>
                      </div>
                  </div>
                  <div class="card-footer text-muted">
                      <p style="color: #1e7e34">Fetching Log-Data successful</p>
                  </div>
              </div>
    </section>


@code {

    private void OnSelected()
    {
        
    }
    
}