@page "/ticket"
@using AndroidDataRecorder.Misc
@using AndroidDataRecorder.Services
@using AndroidDataRecorder.Backend
@using Atlassian.Jira
@using System.IO

@inject MarkerBridge MarkerBridge;
@inject LogBridge LogBridge;
@inject IToastService ToastService;


<header>
    <h1 class="text-center" style="color: white">Ticket</h1>
    <br>
</header>

<section id="ticket_card">
    <div class="card text-center">
        <div class="card-header" style="color: white">
            JIRA Issue
        </div>

        <div class="card-body">
            <div class="row">
                <div class="col">
                    <div class="table-wrapper-scroll-y my-custom-scrollbar table-responsive-md " style="overflow-x: hidden">
                        <table class="table table-bordered table-striped mb-0">
                            <tbody class="text-left logtable">
                            @foreach (var filter in _filters)
                            {
                                <tr>
                                    <td>
                                        <div class="row">
                                            <div class="col">
                                                Marker @filter.marker.timeStamp
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                Log Entries: @filter.Logs.Count
                                            </div>
                                            <div class="col">
                                                Timespan: @CalculateTimeSpan(filter.timeSpanMinus, filter.timeSpanPlus) minutes
                                            </div>
                                            <div class="col">
                                                <EditForm Model="@_ticketModel" OnSubmit="@HandleSubmit">
                                                    <label>Include Video</label>
                                                    <InputCheckbox class="form-check" @bind-Value="_ticketModel.checkBoxVideo">test</InputCheckbox>
                                                </EditForm>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <br>


            <EditForm Model="@_ticketModel" OnSubmit="@HandleSubmit">
                <div class="row">
                    <div class="col-md-6 text-left">
                        <InputText class="form-text" style="width: 500px" id="description" @bind-Value="_ticketModel.Title" placeholder="Enter title..."></InputText>
                    </div>
                    <div class="col-md-6 text-left">
                        <IssueTypeInputSelect class="form-control" style="width: 250px" id="priority" @bind-Value="_ticketModel.Type">
                            @if (_tc.IssueTypeList is not null)
                            {
                                @foreach (var type in _tc.IssueTypeList)
                                {
                                    <option value="@type.Id">@type</option>
                                }
                            }
                        </IssueTypeInputSelect>
                    </div>
                </div>

                <br>

                <div class="row text-left">
                    <div class="col-md-6">
                        <InputTextArea class="form-text" style="width: 500px" id="message" @bind-Value="_ticketModel.Description" placeholder="Enter description..."></InputTextArea>
                    </div>
                    <div class="col-md-6">
                        <IssuePriorityInputSelect class="form-control" style="width: 250px" id="priority" @bind-Value="_ticketModel.Priority">
                            @if (_tc.PriorityList is not null) {
                                @foreach (var priority in _tc.PriorityList)
                                {
                                    <option value="@priority.Id">@priority</option>
                                }
                            }
                        </IssuePriorityInputSelect>
                        <br>
                        <InputSelect class="form-control" style="width: 250px" id="priority" @bind-Value="_ticketModel.ProjectKey">
                            @if (_tc.KeyList is not null)
                            {
                                @foreach (var projectKey in _tc.KeyList)
                                {
                                    <option>@projectKey</option>
                                }
                            }
                        </InputSelect>
                        
                    </div>
                </div>
                
                <br>
                
                <div class="d-flex flex-row-reverse">
                    <button class="btn btn-primary m-3" type="submit">Create Ticket</button>
                </div>
            </EditForm>

        </div>

    </div>


</section>

@code {
    /*
     * Instance of the ticket model class
     */
    private TicketModel _ticketModel;

    /*
     * This is just for testing, okay?
     */
    private List<Filter> _filters = new List<Filter>();


    /*
     * Connection to Jira
     */
    TicketCreator _tc;
    
    private void HandleSubmit()
    {

        _tc.CreateTicket(_filters,"ADR", _ticketModel.Type, _ticketModel.Priority, TicketCreator.FileFormat.TextFile,_ticketModel.Title,_ticketModel.Description);
        
        _filters.Clear();
        LogBridge.Filters.Clear();
        
        _ticketModel.Description = String.Empty;
        _ticketModel.Title = String.Empty;
        
    }

    private double CalculateTimeSpan(double start, double stop)
    {
        return start + stop;
    }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        try
        {
            _tc = new TicketCreator();
        }
        catch (IOException)
        {
            ToastService.ShowError("Ticket directory could not be created", "Error");
        }
        catch (Exception)
        {
            ToastService.ShowError("No internet connection", "Error");
        }
        _ticketModel = new TicketModel(_tc.IssueTypeList.First(), _tc.PriorityList.First(), _tc.KeyList.First());
        _filters = LogBridge.Filters.ToList();
    }

    /*
     * Model class
     */
    private class TicketModel

    {
        /*
         * Description of the jira ticket
         */
        public string Title { get; set; }

        /*
         * Message of the jira ticket
         */
        public string Description { get; set; }

        /*
         * Priority of the jira ticket
         */
        public IssuePriority Priority { get; set; }

        /*
         * Type of the jira ticket
         */
        public IssueType Type { get; set; }
        
        /*
         * Project key
         */
        public string ProjectKey { get; set; }

        /*
         * This is just for testing, okay?
         */
        public bool checkBoxVideo;

        public TicketModel(IssueType type, IssuePriority prio, string key)
        {
            Type = type;
            Priority = prio;
            ProjectKey = key;
        }
    }

}